@use '../abstract' as *;

/*----------------------------------------*/
/*  12. BRAND CSS START
/*----------------------------------------*/

.brand{
    &__bg{
        position: relative;
        &::after{
            position: absolute;
            content: '';
            left: -165px;
            top: 0;
            width: calc(100% + 330px);
            height: 100%;
            background: $black-4;
            @media #{$xxl}{
                left: -80px;
                width: calc(100% + 160px);
            }
            @media #{$xl}{
                left: -30px;
                width: calc(100% + 60px);
            }
            @media #{$lg}{
                left: 0;
                width: 100%;
            }
            @media #{$md}{
                left: -20px;
                width: calc(100% + 40px);
            }
            @media #{$sm}{
                left: -15px;
                width: calc(100% + 30px);
            }
            @media #{$xs}{
                left: 0;
                width: 100%;
            }
        }
        &-2{
            &::after{
                background: $white;
            }
            &::before{
                position: absolute;
                content: '';
                left: -165px;
                top: 0;
                width: calc(100% + 330px);
                height: 3px;
                background: $r-green-2;
                z-index: 11;
                @media #{$xxl}{
                    left: -80px;
                    width: calc(100% + 160px);
                }
                @media #{$xl}{
                    left: -30px;
                    width: calc(100% + 60px);
                }
                @media #{$lg}{
                    left: 0;
                    width: 100%;
                }
                @media #{$md}{
                    left: -20px;
                    width: calc(100% + 40px);
                }
                @media #{$sm}{
                    left: -15px;
                    width: calc(100% + 30px);
                }
                @media #{$xs}{
                    left: 0;
                    width: 100%;
                }
            }
        }
    }
    &__item{
        text-align: center;
    }
}