@use '../abstract' as *;

/*----------------------------------------*/
/*  13. CONTACT CSS START
/*----------------------------------------*/

.contact{
    &__area{
        @include background();
    }
    &__bg{
        position: absolute;
        left: 0;
        bottom: -2%;
        width: 100%;
        height: 100%;
        background-position: bottom center;
        background-repeat: no-repeat;
        z-index: -1;
    }
    &__form{
        & button{
            height: 75px;
            line-height: 75px;
            &::after{
                left: -12px;
            }
        }
        &-green{
            & button{
                background: $r-yellow;
                color: $black-3;
            }
            & .contact__input{
                & input,
                & textarea{
                    background: $r-green-6;
                    border-color: $r-green-6;
                    &:hover,
                    &:focus{
                        border-color: $r-green-6;
                    }
                }
                & i{
                    color: $r-yellow;
                }
            }
        }
        &-4{
            & .contact__input-3{
                margin-bottom: 30px;
                & input,
                & textarea{
                    height: 80px;
                    line-height: 76px;
                    color: $black;
                    background: $grey;
                    border-color: $grey;
                    padding: 0 35px;
                    padding-right: 70px;
                    &::placeholder{
                        color: $black;
                    }
                    &:focus,
                    &:hover{
                        background: $white;
                        border-color: $grey;
                    }
                }
                & textarea{
                    padding-top: 30px;
                    padding-right: 35px;
                    height: 215px;
                    line-height: 1;
                    border: 2px solid $grey;
                    background: $grey;
                    outline: none;
                    resize: none;
                    width: 100%;
                    color: $black;
                    font-weight: 500;
                    font-family: $rubik;
                    font-size: 18px;
                    &:focus,
                    &:hover{
                        background: $white;
                        border-color: $grey;
                    }
                    &::placeholder{
                        color: $black;
                        font-weight: 500;
                        font-size: 18px;
                    }
                }
                & .nice-select{
                    background: $grey;
                    border-color: $grey;
                    height: 80px;
                    line-height: 76px;
                    & .current{
                        color: $black;
                    }
                    &::after{
                        height: 10px;
                        width: 10px;
                        border-color: $black;
                        right: 35px;
                    }
                    &.open{
                        border-color: $grey;
                    }
                }
                & i{
                    color: $black;
                }
            }
        }
    }
    &__input{
        position: relative;
        & input,
        & textarea{
            width: 100%;
            height: 75px;
            line-height: 71px;
            padding: 0 35px;
            padding-right: 60px;
            background: transparent;
            outline: none;
            border: 2px solid rgba($color: $white, $alpha: .25);
            font-size: 18px;
            font-family: $rubik;
            font-weight: 400;
            margin-bottom: 10px;
            color: $white;
            &::placeholder{
                color: $white;
                font-weight: 500;
                font-family: $rubik;
                font-size: 18px;
            }
            &:hover,
            &:focus{
                border-color: $white;
            }
        }
        & i{
            position: absolute;
            top: 43%;
            right: 35px;
            @include transform(translateY(-50%));
            color: $white;
            font-size: 18px;
        }
        & textarea{
            line-height: 1;
            padding: 30px 35px;
            resize: none;
            height: 140px;
        }
        &-3{
            position: relative;
            margin-bottom: 20px;
            & input{
                width: 100%;
                height: 75px;
                line-height: 71px;
                background: transparent;
                padding: 0 30px;
                font-size: 18px;
                outline: none;
                border: 2px solid rgba($color: $white, $alpha: .1);
                font-weight: 500;
                font-family: $rubik;
                color: $white;
                &::placeholder{
                    font-weight: 500;
                    font-family: $rubik;
                    color: $white;
                    font-size: 18px;
                }
                &:focus{
                    border-color: rgba($color: $white, $alpha: .8);
                }
            }
            & i{
                position: absolute;
                top: 49%;
                right: 30px;
                @include transform(translateY(-50%));
                font-size: 18px;
                color: $r-yellow;
            }
            & .nice-select{
                width: 100%;
                border-radius: 0;
                background: transparent;
                border: 2px solid rgba($color: $white, $alpha: .1);
                height: 75px;
                line-height: 71px;
                margin-bottom: 20px;
                & .current{
                    font-size: 18px;
                    font-weight: 500;
                    font-family: $rubik;
                    color: $white;
                }
                &::after{
                    height: 10px;
                    width: 10px;
                    border-color: $r-yellow;
                    right: 30px;
                    margin-top: -7px;
                }
                &.open{
                    border-color: rgba($color: $white, $alpha: .8);
                }
                & .list{
                    width: 100%;
                    border-radius: 0;
                }
            }
        }
    }
    &__thumb{
        &-1{
            & span{
                position: relative;
                display: inline-block;
                transform-origin: top right;
                z-index: 1;
                &::after{
                    position: absolute;
                    content: '';
                    right: -10px;
                    bottom: -10px;
                    width: 100%;
                    height: 100%;
                    background: $r-brown;
                    @include transform(rotate(-7deg));
                    z-index: -1;

                    @media #{$xs}{
                        right: 0;
                    }
                }
                & img{
                    @include transform(rotate(-7deg));
                }
            }
        }
        &-2{
            margin-right: -200px;
            @media #{$xxl}{
                margin-right: -50px;
            }
            @media #{$xl}{
                margin-right: 0px;
            }
            @media #{$lg}{
                margin-right: 0px;
            }
            @media #{$md}{
                margin-right: 0px;
            }
            @media #{$sm}{
                margin-right: 0px;
            }
            @media #{$xs}{
                margin-right: 0px;
            }
        }
    }
    &__btn{
        &-3{
            & button{
                height: 75px;
                line-height: 80px;
                padding: 0 70px;

                &::after{
                    left: -15px;
                }
            }
        }
        &-4{
            & button{
                font-size: 18px;
                height: 80px;
                line-height: 85px;
                @include border-radius(0);
                &::after{
                    left: -20px;
                }
            }
        }
    }
    &__item{
        padding: 75px 80px;
        padding-bottom: 70px;
        @media #{$xxl}{
            padding-left: 20px;
            padding-right: 20px;
        }
        @media #{$xl}{
            padding: 50px 10px;
        }
        @media #{$sm}{
            padding: 50px;
        }
        @media #{$xs}{
            padding: 30px;
        }
    }
    &__icon{
        @media #{$sm}{
            margin-bottom: 25px;
        }
        @media #{$xs}{
            margin-bottom: 25px;
        }
        & i{
            display: inline-block;
            width: 80px;
            height: 80px;
            line-height: 80px;
            text-align: center;
            color: $black;
            font-size: 35px;
            background: $r-yellow;
            @include border-radius(50%);
        }
    }
    &__content{
        & h5{
            font-size: 20px;
            font-weight: 400;
            color: $white;
            margin-bottom: 23px;
        }
        & p{
            font-size: 24px;
            line-height: 32px;
            color: $white;
            margin-bottom: 0;
        }
    }
    &__map{
        &-wrapper{
            width: 100%;
            height: 775px;
            & iframe{
                width: 100%;
                height: 100%;
            }
        }
        & .map-pin{
            position: absolute;
            top: 45%;
            right: 36%;
        }
    }
    &__wrapper{
        @media #{$xs}{
            padding-right: 0;
        }
        &-3{
            @media #{$md}{
                padding-left: 0;
            }
            @media #{$sm}{
                padding-left: 0;
            }
            @media #{$xs}{
                padding-left: 0;
            }
        }
    }
    &__padding{
        @media #{$xl}{
            padding-left: 30px;
            padding-right: 30px;
        }
        @media #{$lg}{
            padding-left: 15px;
            padding-right: 15px;
        }
        @media #{$md}{
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        @media #{$sm}{
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        @media #{$xs}{
            padding-left: 0px;
            padding-right: 0px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
}