@use '../abstract' as *;

/*----------------------------------------*/
/*  05. FEATURES CSS START
/*----------------------------------------*/

.features{
    &__area{
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__item{
        @media #{$xs}{
            padding-right: 0;
        }
        &:hover{
            & .features__icon{
                & span{
                    @include transform(translateY(-5px) translate3d(0,-5px,0));
                }
            }
        }
        &:not(:last-child){
            margin-bottom: 35px;
            padding-bottom: 35px;
            border-bottom: 2px solid $border;
        }
        &-2{
            padding: 35px 35px;
            width: 270px;
            &.fea-1{
                margin-left: 400px;
                @media #{$xl}{
                    margin-left: 275px;
                }
                @media #{$sm}{
                    margin-left: 250px;
                }
                @media #{$xs}{
                    margin-left: 0px;
                }
            }
            &.fea-2{
                margin-left: 100px;
                margin-top: -85px;
                @media #{$xl}{
                    margin-left: -20px;
                }
                @media #{$sm}{
                    margin-top: 30px;
                }
                @media #{$xs}{
                    margin-top: 30px;
                    margin-left: 0;
                }
            }
            &.fea-3{
                margin-top: 30px;
                margin-left: -45px;
                @media #{$xl}{
                    margin-left: -120px;
                }
                @media #{$lg}{
                    margin-left: 0px;
                }
                @media #{$md}{
                    margin-left: 0px;
                }
                @media #{$sm}{
                    margin-left: 0px;
                }
                @media #{$xs}{
                    margin-left: 0px;
                }
            }
        }
        &-3{
            padding: 50px 35px;
            @media #{$lg}{
                padding-right: 0;
                padding-left: 0;
            }
            @media #{$md}{
                padding-right: 20px;
                padding-left: 20px;
            }
            &:hover{
                & .features__icon-3{
                    & span{
                        @include transform(translateY(-10px) translate3d(0,-10px,0));
                    }
                }
            }
        }
        &-4{
            width: auto;
            @media #{$lg}{
                padding-left: 15px;
                padding-right: 15px;
            }
            @media #{$md}{
                padding-left: 15px;
                padding-right: 15px;
            }
            @media #{$sm}{
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
    &__title{
        font-size: 24px;
        margin-bottom: 5px;
        @media #{$lg}{
            font-size: 22px;
        }
        &-2{
            margin-bottom: 0;
        }
        &-3{
            margin-bottom: 15px;
        }
    }
    &__icon{
        @media #{$xs}{
            margin-bottom: 25px;
        }
        span{
            display: inline-block;
            width: 100px;
            height: 100px;
            line-height: 100px;
            text-align: center;
            background: $white;
            @include border-radius(50%);
            backface-visibility: hidden;
            -webkit-transform: translate3d(0,0,0);
            -moz-transform: translate3d(0,0,0);
            -ms-transform: translate3d(0,0,0);
            -o-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
            -webkit-transition: transform .3s cubic-bezier(.21,.6,.44,2.18);
            -moz-transition: transform .3s cubic-bezier(.21,.6,.44,2.18);
            -ms-transition: transform .3s cubic-bezier(.21,.6,.44,2.18);
            -o-transition: transform .3s cubic-bezier(.21,.6,.44,2.18);
            transition: transform .3s cubic-bezier(.21,.6,.44,2.18);
        }
        &-2{
            & span{
                display: inline-block;
                width: 100px;
                height: 100px;
                line-height: 100px;
                text-align: center;
                @include border-radius(50%);
                background: $white;
            }
        }
        &-3{
            & span{
                display: inline-block;
                width: 120px;
                height: 120px;
                line-height: 120px;
                text-align: center;
                @include border-radius(50%);
                background: $white;
                @include box-shadow(0px 10px 60px 0px rgba(207, 199, 188, 0.47));
                backface-visibility: hidden;
                -webkit-transform: translate3d(0,0,0);
                -moz-transform: translate3d(0,0,0);
                -ms-transform: translate3d(0,0,0);
                -o-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
                -webkit-transition: transform .3s cubic-bezier(.21,.6,.44,2.18);
                -moz-transition: transform .3s cubic-bezier(.21,.6,.44,2.18);
                -ms-transition: transform .3s cubic-bezier(.21,.6,.44,2.18);
                -o-transition: transform .3s cubic-bezier(.21,.6,.44,2.18);
                transition: transform .3s cubic-bezier(.21,.6,.44,2.18);
            }
        }
    }
    &__content{
        & p{
            margin-bottom: 0;
        }
        &-3{
            & p{
                margin-bottom: 25px;
            }
        }
    }
    &__wrapper{
        &-2{
            @media #{$xs}{
                padding-right: 0;
            }
            & > p{
                padding-right: 20px;
                padding-left: 30px;
                margin-bottom: 22px;
                position: relative;
                &::after{
                    position: absolute;
                    content: '';
                    left: 0;
                    top: 5px;
                    width: 3px;
                    height: 90%;
                    background: $r-yellow;
                }
            }
        }
        &-3{
            @media #{$xs}{
                padding-right: 0px;
            }
            & p{
                font-size: 18px;
                line-height: 32px;
                @media #{$md}{
                    margin-bottom: 40px;
                }
                @media #{$sm}{
                    margin-bottom: 40px;
                }
                @media #{$xs}{
                    margin-bottom: 40px;
                }
            }
        }
        &-border{
            position: relative;
            @media #{$lg}{
                padding-right: 0;
            }
            &::after{
                position: absolute;
                content: '';
                right: -45px;
                top: 0;
                width: 2px;
                height: 140px;
                background: $border-5;

                @media #{$xl}{
                    right: 10px;
                    top: 7px;
                }
                @media #{$lg}{
                    display: none;
                }
            }
        }
    }
    &__list{
        & ul{
            & li{
                &:not(:last-child){
                    margin-bottom: 15px;
                }
                & i{
                    display: inline-block;
                    width: 45px;
                    height: 45px;
                    line-height: 41px;
                    text-align: center;
                    border: 2px solid $border-2;
                    color: $body-text;
                    font-size: 18px;
                    @include border-radius(50%);
                }
                & p{
                    margin-bottom: 0;
                }
                &:hover{
                    & i{
                        color: $white;
                        background: $r-green-2;
                        border-color: $r-green-2;
                    }
                }
            }
        }
    }
    &__video{
        position: absolute;
        bottom: 0;
        right: -95px;
        @media #{$xl}{
            right: 0;
        }
        @media #{$lg}{
            right: 30px;
        }
        @media #{$md}{
            right: 0px;
        }
        @media #{$sm}{
            display: none;
        }
        @media #{$xs}{
            display: none;
        }
        &-thumb{
            position: relative;
            &::after{
                position: absolute;
                content: '';
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba($color: $r-green-2, $alpha: .45);
            }
            & .play-btn{
                display: inline-block;
                width: 55px;
                height: 55px;
                line-height: 59px;
                font-size: 12px;
                color: $r-green-2;
                background: $white;
                @include border-radius(50%);
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                @include transform(translate(-50%, -50%));
                z-index: 1;
                & i{
                    padding-left: 3px;
                }
                &:hover{
                    background: $r-green-2;
                    color: $white;
                }
            }
        }
        &-triangle{
            position: relative;
            &::after{
                position: absolute;
                content: '';
                right: -15px;
                bottom: -15px;
                width: 103px;
                height: 103px;
                background: $r-yellow;
                -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
                clip-path: polygon(100% 0, 0% 100%, 100% 100%);
                z-index: -1;
            }
        }
    }
    &__shape{
        &-1{
            position: absolute;
            top: 30%;
            left: 30%;
            z-index: -1;
            @media #{$xl}{
                left: 21%;
            }
            @media #{$sm}{
                left: 11%;
            }
            @media #{$xs}{
                left: 0%;
                width: 100%;
            }
        }
        &-2{
            position: absolute;
            top: 15px;
            left: 10px;
        }
        &-3{
            position: absolute;
            bottom: 5px;
            right: 10px;
        }
        &-4{
            position: absolute;
            top: 0;
            right: 8%;
            z-index: -1;
            @media #{$xl}{
                right: 30px;
            }
        }
    }
}