// Solid Colors ---------------
$white: #ffffff;
$black: #2c3941;
$black-2: #394a55;
$black-3: #222328;
$black-4: #34454f;
$black-5: #374853;


// Grey Colors ---------------
$grey:#f8f4ef;
$grey-2:#faf7f3;
$grey-3:#ded5c9;
$grey-4:#cfcdc3;
$grey-5:#d6cdc1;



// Footer Colors ---------------
$footer-bg: #000;



// basic color
$r-pink: #fc8459;
$r-green: #24c373;
$r-green-2: #0a4c48;
$r-green-3: #15625d;
$r-green-4: #0e5450;
$r-green-5: #14645f;
$r-green-6: #093c39;
$r-purple: #8f3cff;
$r-blue: #253597;
$r-brown: #af5e41;
$r-brown-2: #513e26;
$r-yellow: #fad105;



// Text Colors ---------------
$body-text: #677a85;
$r-text-1: #2c3941;
$r-text-2: #687e8b;
$r-text-3: #a7c1d1;
$r-text-4: #607887;
$r-text-5: #69cbc5;



// Border Colors ---------------
$border:#dedede;
$border-2:#e8e8e8;
$border-3:#e7e7e7;
$border-4:#dadada;
$border-5:#e1e1e1;
$border-6:#e2dbd1;
$border-7:#e3e3e3;
$border-8:#eaeaea;


// Heading Colors ---------------
$heading-color: #2c3941;

